// cover some vant-ui styles

.van-button--normal {
  --van-button-default-height: 30px;
  --van-button-border-radius: var(--van-border-radius-lg);
  --van-button-normal-font-size: var(--van-font-size-sm);
}
